<div class="container-price">
    <div class="container-final-list">

        <h4>Final list</h4>

        <div class="total-number-goods">
            <div class="position-goods bg-white">
                <p>Plates <span>({{isTotalPlates}} pieces)</span></p>
                <p>$ {{isTotalCostPlates}}</p>
            </div>

            <div class="position-goods">
                <p>Wine Glasses <span>({{isTotalWineGlasses}} pieces)</span></p>
                <p>$ {{isTotalCostWineGlasses}}</p>
            </div>

            <div class="position-goods bg-white">
                <p>Glasses <span>({{isTotalGlasses}} pieces)</span></p>
                <p>$ {{isTotalCostGlasses}}</p>
            </div>

            <div class="position-goods">
                <p>Decanters <span>({{isTotalDecanters}} pieces)</span></p>
                <p>$ {{isTotalCostDecanters}}</p>
            </div>

            <div class="position-goods bg-white">
                <p>Knives <span>({{isTotalKnives}} pieces)</span></p>
                <p>$ {{isTotalCostKnives}}</p>
            </div>

            <div class="position-goods">
                <p>Spoons <span>({{isTotalSpoons}} pieces)</span></p>
                <p>$ {{isTotalCostSpoons}}</p>
            </div>

            <div class="position-goods bg-white">
                <p>Forks <span>({{isTotalForks}} pieces)</span></p>
                <p>$ {{isTotalCostForks}}</p>
            </div>

            <div class="position-goods">
                <p>Rugs <span>({{isTotalRugs}} pieces)</span></p>
                <p>$ {{isTotalCostRugs}}</p>
            </div>

            <div class="position-goods bg-white">
                <p>Napkins <span>({{isNapkins}} pieces)</span></p>
                <p>$ {{isNapkins}}</p>
            </div>

            <div class="position-goods">
                <p>Decor <span>({{isDecor}} pieces)</span></p>
                <p>$ {{isDecor}}</p>
            </div>
        </div>
    </div>

    <div class="container-total-price">

        <p class="header-total-price">Total price</p>

        <div class="getting-final-price">
            <div class="form-price-group">
                <label for="promo-сode">Add promo code if you have</label>

                <div class="container-promo-code">
                    <input type="text" id="promo-сode" class="{{#if isPromoCode}}input-disabled{{/if}}"  {{#if isPromoCode}}disabled{{/if}} placeholder="{{#unless isPromoCode}}Type here{{/unless}}">

                    <button class="btn-promo-code {{#if isPromoCode}}btn-promo-active{{/if}}" {{#if isPromoCode}}disabled{{/if}}>
                        <svg viewBox="0 0 18 14">
                            <path d="M5.9999 11.2L1.7999 6.99998L0.399902 8.39998L5.9999 14L17.9999 1.99998L16.5999 0.599976L5.9999 11.2Z" />
                        </svg>
                    </button>
                </div>

                <button class="btn-clear {{#unless isPromoCode}}btn-clear-disabled{{/unless}}" {{#unless isPromoCode}}disabled{{/unless}}>Remove promo code</button>
            </div>

            <div class="total-price"><p> For pay:</p><span> $</span><span class="final-cost"> {{#if isPromoCode}}{{isTotalPayPromo}}{{/if}} {{#unless isPromoCode}}{{isTotalPay}}{{/unless}}</span></div>
        </div>
    </div>
</div>


